@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SQWebService</h1>
    <p>web service for displaying, creating, importing, and exporting SQ objects.</p>
</div>
